POSTGRES_DB=acoupi
POSTGRES_USER=acoupi
POSTGRES_PASSWORD=change-me

MQTT_PORT=1883
MQTT_SUBSCRIBE_TOPIC=#
MQTT_CLIENT_ID=acoupi-ingest
MQTT_USERNAME=
MQTT_PASSWORD=
DEVICE_TOPIC_PREFIX=acoupi/

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

MQTT_EXPLORER_USERNAME=admin
MQTT_EXPLORER_PASSWORD=admin

LOG_LEVEL=INFO
